@{
    ViewData["Title"] = "Chaleur View";
}
<div>

    <h2>Chaleur</h2>
    <div id="map">
    </div>

</div>
@section Scripts{

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script>
    @* fetch("/api/Chaleur")
        .then(res => res.json())
        .then(data => console.log(JSON.stringify(data))) 
        .catch(err => console.err('Unable to get items.', err)); *@

    var chaleurs = $.ajax({

            url:"/api/Chaleur",
            dataType: "json",
            success: console.log("Chaleur Data successfully loaded."),
            error: function (xhr) {
            alert(xhr.statusText)

            }
        });
    console.log(chaleurs);
    
    $.when(chaleurs).done(function() {

        var map = L.map('map').setView([45.5119, -73.6774], 11);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                
                    }).addTo(map);

            //L.geoJSON(chaleurs).addTo(map);


    });

    
    @* var chaleurFeatures = [{
                "type": "Feature",
                "properties": {
                    "ogcFid": data.ogcFid, 
                    "chaleurcat": data.chaleurcat,
                    "fid": data.fid,
                    "sumShape": data.sumShape,
                    "sumShape1": data.sumShape1
                    },
                "geometry": {
                    "type": data.type,
                    "coordinates": [[
                        data.coordinates
                    ]]
                }
            }]; *@


</script>
}



